<template>
  <div class="navbar__app-layout">
    <div class="nav-toogle__navbar">
      
    </div>
    <nav class="nav-wrapper__navbar">
      <ul class="menu__nav-wrapper">
        <li class="menu__item-link">
          <router-link to="/home">Home</router-link>
        </li>
        <li class="menu__item-link">
          <router-link to="/about">About</router-link>
        </li>
        <li class="menu__item-link">
          <router-link to="/whatever">What ever</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script></script>

<style>
  .navbar__app-layout {
    border-bottom: 1px solid #000;
  }

  .navbar__app-layout .menu__nav-wrapper {
    margin: 30px 0;
    padding-left: 30px; 
  }

  .navbar__app-layout .menu__nav-wrapper li {
    display: inline-block;
    list-style-type: none;

    margin-right: 20px;
  }

  .navbar__app-layout .menu__nav-wrapper li:last-child {
    margin: 0;
  }

  .navbar__app-layout .menu__nav-wrapper li a {
    text-decoration: underline;
  }

  .navbar__app-layout .menu__nav-wrapper li a.router-link-active, 
  .navbar__app-layout .menu__nav-wrapper li a.router-link-exact-active {
    text-decoration: none;
  }
</style>
