<template>
  <div class="wrapper__tile-view">
    <router-link :to="{name: back}">< Back</router-link>
    <p v-if="currentTile">
      <img :src="currentTile.picture" alt="" />
      {{currentTile.text}}
    </p>
  </div>
</template>

<script>
  import http from 'api/http'  
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'tileView',
    data () {
      return {
        back: ''
      }
    },
    computed: {
      ...mapGetters([
        'getTiles',
        'currentTile'
      ])
    },
    methods: {
      ...mapActions({
        'setTiles': 'setTiles',
        'setCurrentTile': 'setCurrentTile'
      })
    },    
    beforeRouteEnter (to, from, next) {
      if (!to.params.hasOwnProperty('tileId') || (typeof to.params.tileId === 'undefined') || (to.params.tileId === null)) {
        next({name: 'home'});
      }

      next(vm => {
        vm.back = (from) ? from.name : 'home';

        if (Object.keys(vm.currentTile).length === 0) {
          let _deffer = Promise.resolve();

          if (vm.getTiles.length === 0) {
            _deffer = http.getTilesList().then((response) => {
              return response.json().then((json) => {
                if (!json.success) { return false; }
                vm.setTiles(json.tiles);
              })
            })            
          }

          _deffer.then(() => {
            let findTile = vm.getTiles.find((e) => {
              console.log(e.id, parseInt(to.params.tileId));
              return e.id === parseInt(to.params.tileId)
            });
            vm.setCurrentTile(findTile);
          });
        }
      });
    }
  }
</script>

<style>
  .wrapper__tile-view img {
    float: left;
    max-width: 250px;
    margin-right: 30px;
  }
  .wrapper__tile-view:after {
    content: '';
    clear: both;
  }
</style>
