<template>
  <div class="tile-item" :class="{'double': options.type === 'double', 'normal': options.type === 'normal'}">
    <div class="wrapper__tile-item" :style="{ 'background-image': 'url(' + options.picture + ')' }" @click.prevent="selectTile">
      <div class="title__wrapper">{{options.title}}</div>
      <div class="description__wrapper">{{options.description}}</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'tile',
    props: {
      options: Object,
      default: {}
    },
    methods: {
      selectTile () {
        this.$emit('select', this.options);
      }
    }
  }
</script>

<style>
  .tile-item {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    cursor: pointer;
  }

  .tile-item.normal {
    max-width: 33.33333%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.33333%;
            flex: 1 0 33.33333%;
  }

  .tile-item.double { 
    max-width: 66.66666%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 66.66666%;
            flex: 1 0 66.66666%;
  }

  @media screen and (min-width: 480px) and (max-width: 1024px) {
    .tile-item.normal {
      max-width: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
    }

    .tile-item.double {
      max-width: unset;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }    
  }

  @media screen and (max-width: 480px) {
    .tile-item {
      max-width: unset !important;
      -ms-flex-preferred-size: 100% !important;
          flex-basis: 100% !important;
    }
  }  

  .tile-item .wrapper__tile-item {
    border: 1px solid #000;
    height: 250px;
    margin: 10px;
    padding: 30px 15px 0;
    position: relative;
    overflow: hidden;

    background: #f8f8f8;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover; 
  }

  /*.tile-item.double .wrapper__tile-item {
    background-position-y: 100%;
  }*/
  
  .tile-item .description__wrapper, .tile-item .title__wrapper {
    color: #fff;
  }

  .tile-item .title__wrapper {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .tile-item .img__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
</style>
