<template>
  <div>
    <navbar></navbar>
    <div class="content__app-layout">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </div>
  </div>
</template>

<script>
  import Navbar from 'components/layout/navbar/Navbar'
  import Loader from 'components/layout/Loader'

  export default {
    name: 'layout',
    components: {
      Navbar,
      Loader
    } 
  }
</script>

<style>
  .content__app-layout {
    padding: 40px 30px 10px;
  }
</style>
