<template>
  <div class="loader__app-layout">
    Загрузка...
  </div>
</template>

<script>
  export default {
    name: 'loader'    
  }
</script>

<style>
  .loader__app-layout {
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .loader__app-layout:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
  }
</style>
