<template>
  <div class="home__container">
    <tile v-bind:options="tile" v-for="tile in tiles" :key="tile.id" v-on:select="setActiveTile"></tile>
  </div>
</template>

<script>
	import {mapActions} from 'vuex'
	import http from 'api/http'
	import Tile from 'components/ui/tile/Tile'

	export default {
		name: 'home',
		components: {
			Tile
		},
		data () {
			return {
				tiles: []
			}
		},
		beforeCreate () {
			http.getTilesList().then((response) => {
				return response.json().then((json) => {
					if (!json.success) { return false; }

					this.tiles = json.tiles;
					this.setTiles(this.tiles);
				})
			})
		},
		methods: {
			...mapActions({
	        	'setTiles': 'setTiles',
	        	'setCurrentTile': 'setCurrentTile'
	      	}),
	      	setActiveTile (tile) {
	      		this.$router.push({name: 'tileView', params: {
	      			'tileId': tile.id
	      		}});

	      		this.setCurrentTile(tile);
	      	}
		}
  	}
</script>

<style>
	.home__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;	

		-ms-flex-wrap: wrap;
	    	flex-wrap: wrap;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;	

		margin: -10px -10px 0;
	}
</style>
